@model Product

<h1>Coffee Shop</h1>

@if (Model is null)
{
    <p>No hay detalle para mostrar...</p>
}
else
{
    <img height="300" width="300" src="@Model.ImageUrl" />
    <h3>@Model.Name</h3>
    <p>@Model.Detail</p>
    <h3><strong>@Model.Price.ToString("c")</strong></h3>
}
