@using CoffeeShop.Models
@model IEnumerable<Product>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop</title>
</head>
<body>

    <h1>Coffee Shop</h1>

    @foreach (var item in Model)
    {
        <img height="100" width="100" src="@item.ImageUrl"/>
        <h3>@item.Name</h3>
        <p>@item.Price.ToString("c")</p>        
    }

    

</body>
</html>
